<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST" enctype="multipart/form-data" action="/post/store">
        <span>Titulo</span>
        <input type="text" name="name">
        <br><br>
        <span>Arquivo</span>
        <input type="file" name="path">
        <br><br>
        <span>Categoria</span>
        <select name="categoria_id" id="">
            <option value="">categorias</option>
        </select>
        <br><br>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>