<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <%- include('bootstrap.ejs') %>
</head>
<body>
    <form method="POST" action="/">
        <div class="container">
            <% if(typeof params !== 'undefined'){ %>
                <div class="mb-4">
                    <div>
                        <h3>Resultados anteriores:</h3>
                    </div>
                    <% Object.keys(params).map((key) => { %>
                        <div>
                            <b><%- key %>:</b> <%- params[key] %><br/>
                        </div>
                    <% }) %>
                </div>
            <% } %>
            <div class="row mb-4">
                <div class="col-md-6">
                    <h4>nome</h4>
                    <input name="nome" class="form-control"/>
                </div>
                <div class="col-md-6">
                    <h4>idade</h4>
                    <input name="idade" class="form-control"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input class="btn btn-primary" type="submit" value="Enviar">
                </div>
            </div>
        </div>
    </form>
</body>
</html>